
.radiowrapper label:hover {font-weight:bold}

.radiowrapper input:checked + label {font-weight:bold; }

.font-loader300{
    font-family: 'Open Sans';
    font-weight: 300 ;
}

.font-loader600{
    font-family: 'Open Sans';
    font-weight: 600 ;
}